# 本应用部署的IP
appUri: 10.254.20.221

# webServiceUrl
webServiceUrl: http://10.254.20.145/services/bhdxService?wsdl

# Tomcat
server:
    tomcat:
        uri-encoding: UTF-8
        max-threads: 1000
        min-spare-threads: 30
    port: 8080
    session:
      timeout: 30
#    context-path: /login
spring:
    # jackson时间格式设置
    jackson:
        time-zone: GMT+8
        date-format: yyyy-MM-dd HH:mm:ss
    # 静态页面的设置
    resources:
        static-locations: classpath:/static/,classpath:/views/
    http:
      encoding:
        charset: GBK