body{
	background-color: #568BF8;
}
h2,a,footer{
	color: white;
}
h1{
	color: white;
	font-size: 50px;
}
header{
	padding-bottom: 25px;
}
.logo{	
	border-radius: 10px;	
}
p{
	font-size: 50px;
	margin-top: 50px;
}
.logo img{
	height: 50px;
	border-radius: 25px;
}

.form-group{
	margin: 0 auto;
	width: 100%;
	padding: 50px;
}
.pwd{
	height: 120px;
	margin-top: 60px;
	
}
.section{
	background-color: white;
	border: 1px solid;
	margin: 50px;
	border-radius: 20px;
	padding-bottom: 50px;
}
.wx{
	margin-top: -50px;
	margin-bottom: 20px;
	font-size: 40px;
}
.img{
	height: 100px; 	
	width:100px;
	margin-top: 20px;
}
.btn{
	background-color: #437FFB;
	margin: 50px auto;
	height: 120px;
	font-size: 40px;
}
.login{
	width: 50%;
}
footer{
	padding: 50px 50px 0 50px;
}
