<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>收入证明</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="js/jquery.PrintArea.min.js" ></script>
		<link rel="stylesheet" href="css/income.css" />
	</head>
	<body>
		<header class="container printText">
			<h1 class="text-center">证&nbsp;明</h1>
			<section>
				<h3>
					<p>兹有×××，身份证号×××××××××，为我单位职工，目前担任工程师职务，本人月收入为人民币××××元。</p>
					<caption>特此证明。</caption>
					<address>××××年××月××日</address>
				</h3>
				<table class="table table-bordered">
					<thead>
						<tr class="text-center">
							<td>姓名</td>
							<td>性别</td>
							<td>出生日期</td>
							<td>护照号</td>
							<td>职称</td>
							<td>年收入（税后）</td>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center">
							<td>张三</td>
							<td>女</td>
							<td>1982年11月10日</td>
							<td>E11111111</td>
							<td>工程师</td>
							<td>人民币128，000</td>
						</tr>
					</tbody>
				</table>
				<div>希望您能狗予以证明</div>
			</section>
			<footer class="foot">
				<p>负责人：田云枭</p>
				<p>职务：人事处劳资料科科长</p>
				<p>单位：北京航空航天大学</p>
				<p>地址：北京市海淀区学院路37号</p>
				<p>邮编：100191</p>
				<p>电话：+86-10-82317778</p>
				<p>传真：+86-10-82315170</p>
				<p>日期：2017年7月7日</p>
			</footer>
		</header>
		  
        <script type="text/javascript">  
            $(document).ready(function(){  
                // 绑定打印按钮的点击事件；  
                $(".print").click(function () {  
                    // 打印 class 为 print 的节点；  
                    $(".printText").printArea();  
                });  
            });  
        
       
            $(document).ready(function(){  
                // 绑定打印按钮的点击事件；  
                $(".test123").click(function () {  
                    // 打印 class 为 print123 的节点；  
                    $(".print123").printArea();  
                });  
            });  
        </script>  
	</body>
</html>
