<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>北京航空航天大学</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<link rel="stylesheet" href="css/login.css" />
	</head>
	<body>
		<header>
			<h1 class="logo text-center">
				<img src="img/logo.png"/>
				北京航空航天大学
			</h1>
		</header>
		<section>
			<div class="section" >
				<p class="text-center">用户登录界面</p>
				<div>
					<form class="form-group form-group-sm text-center">			  
					    <div class="text-center input-group input-group-lg">	      
					      <span class="input-group-addon glyphicon glyphicon-user"></span>
					      <input type="text" style="height:120px" class="form-control" placeholder="请输入学号">
					    </div>
					    <div class="input-group input-group-lg pwd">	      
					      	<span class="input-group-addon glyphicon glyphicon-lock"></span>
					     	<input type="password" style="height:120px" class="form-control" style="size: 50px" placeholder="请输入密码">
					    </div>				    
					  	<button class="btn btn-primary btn-lg" style="width: 100%">一键登录</button>
					</form>
					<div style="clear: both;"></div>
					<div class="text-center wx">微信登录</div>
					<div class="text-center lyphicon">
						<span class="glyphicon glyphicon-chevron-down"></span>
					</div>
					<div class="text-center">
						<img src="img/login.png" class="text-center img"/>
					</div>
				</div>
			</div>
		</section>
		<footer class="text-center h4" style="color: white;">版权所有   2017 北京航空航天大学   京ICP备05004617-3   文保网安备案号1101080018   地址：北京市海淀区学院路37号   邮编：100083   电话：82317114 </footer>
	</body>
</html>
